* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

.container {
  width: 688px;
  margin: 0 auto;
}

hr {
    margin: 40px 0 ;
    border: none;
    background-color: gray;
    height: 1px;
}